
<main>
    <section class="hero-home" id="hero">
        <div class="hero-content">
            <h1>Echo</h1>
            <a href="/shop" class="btn">Shop Now</a>
        </div>
    </section>
    <!-- About Us Section -->
    <section class="about-section show" id="about">
        <div class="about-content">
            <p id="about-text">Some text will go here about the brand, what inspired its creation, and any other information that may be relevant.
            </p>
            <img src="images/about-white.jpg" alt="Main Image" class="about-image">
        </div>
    </section>
</main>

<footer class="show">
    <div class="footer-content">
        <div class="footer-links">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms and Conditions</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="social-media-icons">
            <a href="https://instagram.com" target="_blank">
                <img src="images/instagram-logo-beige.png" alt="Instagram">
            </a>
            <a href="https://tiktok.com" target="_blank">
                <img src="images/tiktok-logo-beige.png" alt="TikTok">
            </a>
        </div>
    </div>
</footer>

<script src="/js/scripts.js"></script>
<script src="/js/header.js"></script>
