<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Echo The Label</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <section class="hero" id="hero">
            <div class="hero-content">
                <h1>Echo</h1>
                <a href="#" id="start-button" class="btn">Start</a>
            </div>
        </section>
        <section class="about-section hidden" id="about">
            <div class="about-content">
                <p id="about-text">Some text will go here about the brand, what inspired its creation, and any other information that may be relevant.
                </p>
                <img src="images/about-white.jpg" alt="Main Image" class="about-image">
            </div>
        </section>
    </main>
    <footer class="hidden">
        <div class="footer-content">
            <div class="footer-links">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms and Conditions</a>
                <a href="#">Contact Us</a>
            </div>
            <div class="social-media-icons">
                <a href="https://instagram.com" target="_blank">
                    <img src="images/instagram-logo-beige.png" alt="Instagram">
                </a>
                <a href="https://tiktok.com" target="_blank">
                    <img src="images/tiktok-logo-beige.png" alt="TikTok">
                </a>
            </div>
        </div>
    </footer>

    <script src="/js/scripts.js"></script>
    <script src="/js/header.js"></script>
</body>
</html>