/* Modal Styles //////////////////////////////////////////////////////////////////////////*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}


.modal-content form {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 0;
    padding: 0;
}

.modal-content form .form-group {
    display: flex;
    align-items: left;
    margin-bottom: 1rem;
}

.modal-content form .form-group label {
    flex: 1;
    white-space: nowrap; /* Prevent label text from wrapping */
}

.modal-content form .form-group input {
    flex: 2;
    min-width: 0;
    height: 30.2px;
}

.modal-content form .button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal-content form .button-group.btns {
    display: flex;
    justify-content: center;
    margin-top: 0.2rem;
    white-space: nowrap;
}

.modal-content form .button-group.psw {
    display: flex;
    justify-content: right;

}

#forgotPasswordBtn {
    background: none;
    border: none;
    color: #003267; /* Adjust this color as needed */
    text-decoration: underline;
    padding: 0;
    font-size: clamp(12px, 1.5vw, 18px); /* Adjust font size as needed */
    text-align: right;
}


.modal-content form button {
    background-color: #d8c1bc;
    border: none;
    border-radius: 4px;
    font-size: clamp(12px, 1.5vw, 15px);
    font-family:Georgia, 'Times New Roman', Times, serif;
    cursor: url("../images/cursor.png"), auto;
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    margin: 0.5rem;

}

.modal-content form button:focus {
    outline: none;
}

.modal-content form button:hover {
    box-shadow: 0 0 0 3px rgba(250, 191, 178, 0.6);
}

.modal-content form button:last-child {
    margin-right: 0; /* Remove right margin from the last button */
}


.modal-content {
    background-color: #f9f2e6;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #888;
    width: clamp(200px, 70vw, 70vw); /* Could be more or less, depending on screen size */
}

.error-message {
    text-align: left;
    margin-left: 26vw;
    color: red;
    font-family: 'Odstemplik-Bold';
    font-size: clamp(1rem, 2.5vw, 2.5vw);
}



#loginForm {
    position: relative;
}

#loginForm input, #createAccountForm input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0rem;
    box-sizing: border-box;
}


/* Fonts ////////////////////////////////////////////////////////////////////////////////*/

@font-face {
    font-family: 'Adine-Alt';
    src: url('../fonts/AdineKirnberg-Alternate.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Adine';
    src: url('../fonts/Adine Kirnberg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AgendaKing';
    src: url('../fonts/AgendaKing.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Darleston';
    src: url('../fonts/Darleston.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GesseleRegular';
    src: url('../fonts/GesseleRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Odstemplik';
    src: url('../fonts/odstemplik.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Odstemplik-Bold';
    src: url('../fonts/odstemplikBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sail';
    src: url('../fonts/Sail-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* General Styles ////////////////////////////////////////////////////////////////////////////*/

body, html {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Odstemplik-Bold'; /* Change Fonts & Color Scheme */
    font-size: 20px;
    background-image: url("../images/background-cream.jpg");
    background-position: center center fixed;
    cursor: url("../images/cursor.png"), auto;
    z-index: 10000;
    height: 100%;
}

#custom-cursor {
    position: absolute;
    pointer-events: none; /* ensures cursor doesn't interfere with other elements like hover elements */
    z-index: 1001;
}

/* Navigation Bar //////////////////////////////////////////////////////*/
header {
    width: 100%;
    height: 100px;
    background-color: #ede9e1c2; /* #1c0e0bd4 */
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: opacity 0.5s ease-in-out;


}

.menu-bar {
    display: flex;
    justify-content: space-between; 
    align-items:center;
    text-align: center;
    box-sizing: border-box; /* Extends menu-bar across entire page */
    padding: 0 120px;
    flex-wrap: n;
}

.menu-buttons {
    text-align: center;
    align-items: center;
    flex-grow: 1;

}


.menu-bar a {
    margin: 0 2rem; /* space between all buttons in menu bar */
    display: inline-block;
    text-decoration: none;
    color: #3c342f;
    transition: opacity 0.3s;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    
}


/* Add styles for home icon and Echo text */
.home-icon img {
    width: 60px;
    height: 60px;
    transition: opacity 0.3s;
}

.echo-text {
    font-family: 'Adine-Alt', sans-serif;
    font-size: 30px;
    font-style: normal;
    color: #3c342f;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.3s;
}



/* Adjust the position of Echo text in mobile view */
.menu-bar.mobile-view .menu-buttons, .echo-text {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.left-icons, .right-icons {
    display: flex;
    align-items: center;
    margin-top: 12px; /* possibly change */
}

.right-icons {
    position: absolute;
    left: 98%;
    transform: translateX(-98%);
}

.left-icons {
    position: absolute;
    right: 98%;
    transform: translateX(98%);
}

#menu-btn {
    margin-left: 0.9rem;
    background: none;
    border: none;
    font-size: 2rem;
    display: none; /* Hide menu button by default */
}

.left-icons a, .right-icons a {
    margin: 1rem;
    display: inline-block;
}


.left-icons img, .right-icons img, .icon.profile-icon img {
    width: 45px;
    height: 45px;
    transition: opacity 0.3s;
}

.icon.profile-icon {
    padding-bottom: 3vh;
}

/* Social media icons styling */
.social-media-icons.popup {
    display: flex;
    justify-content: left;
    gap: 1rem; /* Adjust spacing between icons as needed */
    margin-top: 13rem; /* Adjust margin as needed */
}


.social-media-icons a {
    display: inline-block;
}

.social-media-icons img {
    width: 30px;
    height: 30px;
    transition: opacity 0.3s;
}

/* Menu Popup Tab ////////////////////////////////////////////////////////////////////////*/
#menu-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60%;
    background-color: #a88c7c;
    padding: 2rem;
    box-sizing: border-box;
    z-index: 1000;
}

#menu-popup a {
    display: block;
    margin: 1rem 0;
    color: white;
    text-decoration: none;
    transition: opacity 0.3s;
}

#close-btn {
    font-size: 3rem;
    display: block;
    text-align: right;
}

#text-large {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align:left;
}

#text-small {
    font-size: 1rem;
    margin-bottom: 10rem;
    text-align: left;
}


/* Hero Section ///////////////////////////////////////////////////////////////*/
.hero {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../images/hero-background-white.jpg'); /* que es esso? */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; 
    align-items: center;
    transition: all 2.5s ease-in-out;
    z-index: 1000;
}

.hero.shrink {
    position: relative;
    background-position: center center;
    height: 10vh;
    z-index: 8;
    padding-top: 55%;
    vertical-align: middle;
    text-align: center;
    
}

.hero-home {
    position: relative;
    background-image: url('../images/hero-background-white.jpg'); /* que es esso? */
    background-size: cover;
    background-position: center center;
    height: 10vh;
    z-index: 8;
    vertical-align: middle;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    padding-top: 55%;
    
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    transition: transform 2.5s, top 2.5s;
    z-index: 9;
}

.hero-content.shrink {
    top: 50%;
    transform: translate(-50%, -50%);
}

.hero-content h1 {
    font-size: clamp(6rem, 10vw, 12vw);
    font-family:'Adine-Alt';
    font-style: normal;
    margin-bottom: clamp(4vw, 5vw, 8vw);
}

.hero-content .btn {
    background-color: #f8eddcb6;
    color: #3c342f;
    padding: clamp(0.5vw, 1vw, 2vw) clamp(1.5vw, 2vw, 3vw);
    font-size: clamp(1.2rem, 2.5vw, 3vw);
    text-decoration: none;
    border-radius: 4px;
    transition: opacity 0.3s;
}

/* About Us Section ////////////////////////////////////////////////////////////////// */
.about-section {
    margin-top: 4rem;
    margin-bottom: 2rem;
    opacity: 0;
    transition: opacity 2.5s ease-in-out;
    /*position: relative;*/
    z-index: 0;
}

.about-section.hidden {
    display: none;
}

.about-section.show {
    opacity: 1;
    display: block;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.about-image {
    width: 100%;
    height: clamp(300px, 80vw, 700px);
    width: auto;
    display: block;
    margin-right: 18px;
    border-radius: 4px; /* rounds the corners of the about image */
}

#about-text {
    color: #3c342f;
    flex-wrap: wrap;
    margin-left: 18px;
    font-size: 20px;
    text-align: left;
}


/* Footer ///////////////////////////////////////////////////////////////////////*/
footer {
    width: 100%;
    height: 100px;
    background-color: #ede9e1c2;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    opacity: 0;
    transition: opacity 2.5s ease-in-out;
    z-index: 1000;
}

footer.hidden {
    display: none;
}

footer.show {
    opacity: 1;
    display: flex;
}


footer .footer-links a {
    font-size: 20px;
    margin: 15px;
    text-decoration: none;
    color: #3c342f;
    transition: opacity 0.3s;
    text-wrap: nowrap;
}

footer .social-media-icons a {
    margin: 0 0.4rem;
    margin-top: 0.1rem;
    transition: opacity 0.3s;
}

/* Hover Effects //////////////////////////////////////////////////////////////////*/
a:hover, .icon:hover, .btn:hover, #menu-btn:hover, .hero-content.btn:hover, .collection-item:hover {
    opacity: 0.7;
    cursor: url("../images/cursor.png"), auto;
}


/* Dashboards ////////////////////////////////////////////////////////////////////*/

.dashboard-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #e2ddd699;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Pushes the sign-out link to the bottom */
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    padding: 20px;
    flex-shrink: 0; /* prevents the sidebar from shrinking */
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto; /* vertical scrolling if content overflows */
}


.content {
    flex: 1 1 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    
}

.content-page {
    display: none;
    margin-top: 0rem;
    font-size: 20px;
}

.content-page.active {
    display: block;
}

.nav-links {
    display: flex;
    flex-direction: column;
}

.nav-link {
    margin-bottom: 1rem;
    font-size: 16px; /* Fixed size */
}

.sign-out-container {
    margin-top: 100%;
}


/* Manage Products List --- Add a new product section formatting  //////////////////////////// */
.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    text-align: left;
    }

    .form-group label {
        width: 150px; /* Adjust this value based on your design needs */
        margin-right: 1rem;
        font-size: 20px;
    }

    #add-product-title, #product-list-title {
        font-size: 30px;
    }

    input, textarea, select {
        background-color: #ffffffa1;
    }

    .form-group input,
    .form-group select {
        width: 250px;
        height: 25px;
    }

    button[type="submit"] {
        display: block;
        margin-top: 2rem;
        text-align: left;
        background-color: #ffffff8f;
        color: #3c342f;
        border: none;
        border-radius: 4px;
        cursor: url("../images/cursor.png"), auto;
        transition: opacity 0.3s;
        font-family: 'Odstemplik-Bold';
        font-size: 18px;
    }

    button[type="submit"]:hover {
        opacity: 0.8;
    }

    textarea {
        width: 100%;
        box-sizing: border-box; /* Makes sure padding and border are included in the width */
        resize: vertical auto; /* user can manually resize the textarea */
        overflow: auto; /* Prevents the scrollbars from appearing */
    }
    
    .add-product-section #description, .add-product-section #details{
        height: 30.2px;
        width: 257.2px;
        position: relative;
    }

    #error-messages {
        text-align: left;
    }

    


    /*Manage Products List ----- Mini Project Tiles /////////////////////////////////// */
        /* Manage Products Section */
    .manage-products-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-right: 0rem;
        padding-right: 0rem;
    }
    
    .add-product-section {
        flex: 1 1 30%;
        box-sizing: border-box;
        text-align: center;
        padding-right: 0;
        
    }
    
    .add-product-section button {
        margin-top: 1em;
    }
    
    .product-list-section {
        flex: 1 1 30%;
        box-sizing: border-box;
        justify-content: center;

    }

    .category-list-section {
        display: none;
    }

    


    :root {
        --product-width: 150px; /* Default width */
        --product-height: auto; /* Default height */
    }
    
    .product-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        text-align: center;
        justify-content: left;
        padding: 0;
        padding-left: 1rem;
        padding-right: 0rem;
    }
    
    .product-item {
        background-color: #fff;
        border: 0.5px solid #ddd;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
        padding: 0.5rem;
        width: var(--product-width);
        height: var(--product-height);
        box-sizing: border-box;
        transition: transform 0.3s ease;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative; /* Add this line */
    }

    .product-item:hover {
        transform: translateY(-5px);
    }
    
    .product-item img {
        max-width: 100%;
        max-height: 100px;
        object-fit: cover;
        border-radius: 4px;
        margin-left: 0.1rem;
        margin-right: 0.1rem;

    }

    .product-item h2, .product-item p {
        font-size: 14px;
        color: #333;
        margin: 0.1rem 0; /* Reduce space between text lines */
        
    }
    
    .product-item p {
        font-size: 12px;
        color: #666;
        text-align: left;
    }

    .product-item button {
        background-color: transparent;
        border: none;
        border-radius: 4px;
        color: #3c342f;
        cursor: url("../images/cursor.png"), auto;
        padding: 0;
        font-size: 12px;
        transition: background-color 0.3s ease;
        margin-top: 2px;
        position: absolute;
        bottom: 10px; /* Adjust as necessary */
        right: 10px; /* Adjust as necessary */
    }
    
    .product-item .delete-button:hover {
        opacity: 0.7;
        cursor: url("../images/cursor.png"), auto;
    }

    .product-item .edit-product {
        margin-bottom: 200px;
        margin-right: 100px;
        position: absolute;
        background-color: #fefefe;
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        cursor: url("../images/cursor.png"), auto;
        color: #3c342f;
        transition: background-color 0.3s ease;
      }

      .product-item .edit-product i {
        font-size: 16px; /* Adjust icon size if needed */
    }

    .product-item .edit-product:hover {
        background-color: #cccccc;
    }

    /* Additional styles for category and stock quantity */
    .product-item .category,
    .product-item .stock-quantity {
        font-size: 0.9rem;
        color: #333;
    }


    #edit-product-modal {
        display: none; /* Hidden by default */
        width: 100%;
        height: 100%; /* Full height */
        overflow: auto;
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
     }

    .edit-modal-content {
        background-color: #f9f2e6;
        height: auto;
        overflow-y: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        row-gap: 40px; /* Adjust this to change the space between the image and form */
        column-gap: 20px;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .edit-product-button-container {
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .edit-modal-content form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .edit-product-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
        width: 200px;
        height: 300px;

    }

    

    .edit-product-image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin: 0;
        padding: 0;
    }

    .edit-product-button-container .form-group{
        display: flex;
        margin: 0;
        padding: 0;
        padding-left: 60px;
        width: auto;
        justify-content: center;
        align-items: center;
    }
    .edit-product-button-container .form-group input{
        margin: 0;
        padding: 0;
        width: auto;
        align-items: center;
        justify-content: center;
    }

    .edit-product-button-container .form-group label {
        width: 50px;
        margin: 0;
        padding: 0;
        padding-right: 10px;
        text-align: center;
    }

    
    
    #edit-product-description, #edit-product-details {
        width: 305px;
        height: 35px;
    }

    #edit-product-form {
        padding: 0;
        margin: 0;
    }


/* Style the navigation links and sign-out button ////////////////////////////////////////// */
.nav-link {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #e0d8d1bb;
}

.collections-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .collection-box {
    width: 100%;
    max-width: 500px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
  
  .collection-box img {
    max-width: 100px;
    margin-right: 20px;
  }
  
  .collection-info {
    flex: 1;
  }
  
  .collection-info h2 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .collection-info p {
    margin: 10px 0 0;
  }

  


/* Manage Products --- Add Product Category Drop Down /////////////////////////////*/
    .custom-dropdown {
        width: 258px;
        position: relative;
    }

    .custom-dropdown input[type="text"] {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }

    .custom-dropdown .dropdown-list {
        display: none;
        position: absolute;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-height: 200px; /* Adjust as needed */
        overflow-y: auto;
        z-index: 1000;
    }

    .custom-dropdown .dropdown-list.visible {
        display: block;
    }
    
    .custom-dropdown .dropdown-item {
        padding: 8px;
        cursor: url("../images/cursor.png"), auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .custom-dropdown .dropdown-item:hover {
        background-color: #f0f0f0;
    }

    .custom-dropdown .dropdown-item .delete-category-button {
        background: none;
        border: none;
        cursor: url("../images/cursor.png"), auto;
        color: #ff0000;
    }

    #category-search {
        width: 257.2px;
        height: 30.2px;
    }

    #collectionName {
        width: 257.2px;
        height: 30.2px;
    }

    #imageUrl {
        width: 257.2px;
        height: 30.2px;
    }

    

/* Manage Products --- Modal for deleting a category ///////////////////////////////////////////////*/
  #confirm-delete, #cancel-delete, #cancel-product-delete, #confirm-product-delete {
    background-color: #d8c1bc;
    border: none;
    border-radius: 4px;
    font-size: clamp(12px, 1.5vw, 15px);
    cursor: url("../images/cursor.png"), auto;
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    margin: 0.5rem;
  }


  /* Manage Products --- Edit Product Modal ////////////////////////////////////////////////////////*/
  .edit-product {
    position: absolute;
    top: 5px;
    left: 5px;
    background: none;
    border: none;
    color: #333;
  }



/* Shop Page --- Categories Container //////////////////////////////////////////////////////////////*/
    .shop-main {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 0px;
    }

    .shop-main h1 {
        margin-top: 0px;
    }

    .shop-container {
        display: flex;
        width: 100%;
        height: auto;
        
    }


    .categories {
        width: 150px;
        margin-left: 0;
        text-align: left;
        
    }

    .categories ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .categories li {
        margin-bottom: 10px;
        width: 100%;
        
    }

    .categories a {
        text-decoration: none;
        color: #333;
    }

    .category-link {
        text-decoration: none;
        color: #333;
        display: block; /* Ensures each link takes up the full width */
        
    }

/* Shop Page --- Product Container ////////////////////////////////////////////////////////////////*/
    .products-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: left;
        
    }

    .products {
        display: flex;
        flex-wrap: wrap;
        
    }

    .product {
        border-radius: 8px;
        width: clamp(150px, 22vw, 22vw);
        height: clamp(250px, 28vw, 28vw); /* Maintain a consistent height */
        transition: transform 0.5s, box-shadow 0.3s;
        text-align: left;
        margin: 10px;
        margin-left: 0;
        margin-bottom: 4rem;
        margin-inline: 0.3rem;
        padding: clamp(0.5rem, 1.3vw, 1.3vw);
        position: relative;
    }
    
    .product img {
        width: clamp(150px, 22vw, 22vw);
        height: clamp(250px, 30vw, 30vw);
        object-fit: cover;
        border-bottom: 1px solid #ddd;
        transition: height 0.3s;
    }
    
    .product h2 { /* Product Title */
        font-size: clamp(1.2rem, 2vw, 2vw);
        margin-top: 1px;
        margin-bottom: 0px;
        font-weight: normal;
    }

    .product p.price { /* will show always */
        font-size: clamp(0.5rem, 1.8vw, 1.8vw);
        margin-top: 0px;
        margin-bottom: 0px;
    }

    /* Initially hide description and add-to-cart */
    .product p.description, .product .add-to-cart, .product p.details{
        display: none;
    }


    .product:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        background-color: #f8f8f8;
        border-radius: 8px;
        overflow: hidden;
        width: clamp(150px, 22vw, 22vw);
        height: auto; /* Maintain a consistent height */
        text-align: left;
        padding: clamp(0.5rem, 1.3vw, 1.3vw);
        position: relative;
    }

    /* Display description and add-to-cart button on hover */
    .product:hover p.description, .product:hover .add-to-cart {
        display: block;
    }

    .product:hover p.description {
        font-size: clamp(0.8rem, 1vw, 1vw);
        margin-top: 5px;
        padding-bottom: 30px;
    }


    .product:hover img {
        width: 100%;
        height: clamp(50px, 20vw, 20vw);
        object-fit: cover;
        transition: height 0.3s;

    }

    .product:hover .add-to-cart {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    
    .product .add-to-cart {
        background-color: #d3b3b9;
        color: white;
        padding: clamp(0.3rem, 1vw, 1vw) clamp(0.8rem, 2vw, 2vw);
        font-size: clamp(0.5rem, 1vw, 1vw);
        border: none;
        border-radius: 2px; /* rounds corners */
        cursor: pointer;
        transition: background-color 0.3s;
        margin-top: 15px;
    }
    
    .product .add-to-cart:hover {
        justify-content: baseline;
        background-color: #a38a8f;
        cursor: url("../images/cursor.png"), auto;
    } 


    /* Shop Page --- Product Modal ///////////////////////////////////////////////////////////// */
 .product-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }

#modalTitle {
    text-align: center;
}

#modalAddToCart {
    background-color: #d3b3b9;
    color: white;
    padding: 0.3rem 0.8rem;
    font-size: clamp(0.8rem, 0.5vw, 0.5vw);
    border: none;
    border-radius: 2px; /* rounds corners */
    transition: background-color 0.3s;
    margin-top: 15px;
}

#modalAddToCart:hover {
    background-color: #a38a8f;
    cursor: url("../images/cursor.png"), auto;
} 

.close, .product-modal .close, #delete-category-modal .close, #delete-product-modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.product-modal .close:hover,
.product-modal .close:focus,
#delete-category-modal .close:hover,
#delete-category-modal .close:focus,
#delete-product-modal .close:hover,
#delete-product-modal .close:focus,
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.product-modal-content {
    background-color: #f9f2e6;
    margin: 1% auto;
    padding: 20px;
    border: 2px solid #888;
    max-width: 800px;
    min-width: 100px;
}

.modal-body {
    background-color: #f9f2e6;
    height: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.shop-modal-left, .shop-modal-right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.shop-modal-right {
    justify-content: flex-start;
    align-items: flex-start;
    vertical-align: top;
    width: 60%;
}

.shop-modal-left {
    justify-content: flex-start;
    align-items: flex-start;
    width: 40%;
}

.shop-modal-left #modalDetails, #modalDescription {
    text-align: left;
    flex-wrap: wrap;
}

#modalPrice, #modalDescription {
    text-align: left;
}


.modalImage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    width: 100%;
    height: auto;
}

.modalImage-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0;
    padding: 0;
}

.modal-footer {
    overflow: hidden;
    width: 100%;
}

.add-to-cart-button {
    float: right;
}

#additionalImagesPreview, #edit-additional-images-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.thumbnail {
    position: relative;
    width: 100px;
    height: 100px;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.delete-thumbnail {
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}




/* Responsive Design /////////////////////////////////////////////////////////////*/
@media (max-width: 600px) {
    .desktop-view {
        display: none
    }

    #menu-btn {
        display: block;
    }

    .about-content {
        flex-direction: row;
    }

    .modal-body {
        flex-direction: column;
        align-items: center;
    }
    .shop-modal-right, .shop-modal-left {
        width: 100%;
        text-align: center;
    }

    .shop-modal-left {
        margin-bottom: 20px;
    }

    .modalImage-container {
        height: auto;
    }

    .modalImage-container img {
        width: 80%;
        height: auto;
    }

}

@media (min-width: 600px) {
    .mobile-view {
        display: none;
    }

}